html, body ,.layout
{
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}
.layout
{
    background-color: #082126;
}

@font-face
{
    font-family: fonte_primaria;
    src: url("fonte/Sansita-Regular.ttf");
}

@font-face
{
    font-family: fonte_secundaria;
    src: url("fonte/Sansita-Italic.ttf");
}

@font-face {
    font-family: fonte_terciaria;
    src: url("fonte/nike/Futura\ Std\ Heavy\ Oblique.ttf");
}

@font-face {
    font-family: fonte_quartenaria;
    src: url("fonte/nike/Futura\ Bold.ttf");


}

@font-face {
    font-family: fonte_5;
    src: url(fonte/bronz/Bronz\ PERSONAL\ USE\ ONLY!.ttf);
}

.topbar 
{
    background-color: #27433b;
    height: 20px;
    color: #D9a443;
    align-items: center;
    padding: 10px;
    display: flex;
    font-size: 15px;

}

.topbar img
{
    height: 45px;
    
}

.topbar nav{
    transform: translate(1040px,0%);
    

}

.topbar nav a{
    text-decoration: none;
    color: #D9a443;
    margin-right:40px;
    font-family: fonte_primaria;
    position: relative;



}

.topbar nav a::after
{
    content: "";
    width: 2.5px;
    height: 100%;
    background-color: #437366;
    position: absolute;
    transform: translate(-70.5px,0);

}


.topbar2
{
    padding: 20px;
    display: flex;
    height: 32px;
    font-size: 17px;
    background-color: #082626;
    align-items: center;
}

.topbar2 img
{
    height: 65px;
    text-align: left;
    

}

.topbar2 nav
{
    transform: translate(382px,0%);
}

.topbar2 nav a
{
    text-decoration: none;
    color: #D9a443;
    margin-right: 50px;
    font-family: fonte_secundaria;
    position: relative;
}

.topbar2 nav a::after
{
    content: "";
    width: 0%;
    height: 3px;
    background-color: #D9a443;
    position: absolute;
    bottom: -6px;
    left: 0;
    transition: 0.5s;
}

.topbar2 nav a:hover::after
{
    width: 100%;
}




.lgnome 
{
    margin-left: 10px;
    font-family: fonte_quartenaria;
    

}

.Meio
{
    background-color: #082126;
    height: 1000px;
    
}

.Meio h1
{
    color: #ddae58;
    font-size: 60px;
    height: 10px;
    line-height: 4px;
    padding: 90px 90px 2px;
    font-family: fonte_5;
    
}

.Meio h2
{
    color: #ddae58;
    font-size: 35px;
    padding: 0px 90px 0px;
    font-family: fonte_terciaria;
}

.card
{
    column-count: 1;
    column-gap: 100px;
    text-align: center;


}


.card img{
    width: 250px;
    height: 250px;
    border-radius: 20px;
    transform: translate(0,100px);
    position: relative;
    margin-inline: 30px;
    
}

.card img:hover
{
    width: 350px;
    height: 350px;
    transition: 0.7s;
}


