@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background:  #0a2930;
  font-family: "Lato", sans-serif;
}
body > header {
  padding: 20px;
  display: flex;
  height: 32px;
  font-size: 17px;
  background-color: #05191D;
  align-items: center;
}

body > main {
  background: #0a2930;
  padding: 0 30px 30px;
}
body > main .page-title {
  font-size: 40px;
  padding: 50px 0;
  text-align: center;
  color: #ebecf1;
}
body > main .content {
  display: flex;
}
body > main .content section {
  flex: 1;
}
body > main .content aside {
  min-width: 250px;
}

.topbar{
  padding: 20px;
  display: flex;
  height: 32px;
  font-size: 17px;
  background-color: #05191D;
  align-items: center;
  
}

.topbar .iclogo{
  width: 50px;
  height: 50px;
  align-items: center;
  object-fit: cover;
  transform: translate(5px);
}

.topbar .top1{
  display: flex;
  margin: 0 auto;
  
}

.topbar .top1 nav a{
  text-decoration: none;
  color: #fff;
  margin: 15px;
  font-family: fonte_topnav;
  position: relative;
}

.topbar .top1 a::after{
  content: "";
  width: 0%;
  height: 3px;
  background-color: #D9a443;
  position: absolute;
  bottom: -6px;
  left: 0;
  transition: 0.5s;
}

.topbar .top1 a:hover::after{
  width: 100%;
}

.navegacao{
  position: relative;
  width: 110px;
  height: 95px;
  background: transparent;
  overflow: hidden;
  transform: translate(1660px);
  transition: 0.5s;
  border-bottom-left-radius: 30px;
}

.navegacao:hover{
  width: 300px;
  height: 95px;
}

.navegacao ul{
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
}

.navegacao ul li{
  position: relative;
  list-style: none;
  width: 100%;
  border-radius: 10px;
}

.navegacao ul li a{
  position: relative;
  display: flex;
  text-decoration: none;
  width: 100%;
  color: #fff;
  margin-bottom: 15px;
}

.navegacao ul li a .icon{
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  text-align: center;
  line-height: 70px;
}

.navegacao ul li a .icon ion-icon{
  position: relative;
  font-size: 1.5rem;
  z-index: 1;
}
.navegacao ul li .titulo{
  position: relative;
  display: block;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
}

.navegacao ul li.ativado{
  background-color: #D9a443;
}



button {
  cursor: pointer;
  font-family: "Lato", sas-serif;
}


table {
  width: 100%;
  border-collapse: collapse;
  color: #ebecf1;
  
}
table thead tr {
  border-bottom: 3px solid #eee;
}
table thead tr th {
  text-align: left;
  padding-bottom: 5px;
  text-transform: uppercase;
  color: #ebecf1
}
table tbody tr {
  border-bottom: 3px solid #ebecf1;
}
table tbody tr:last-child {
  border: 0;
}
table tbody tr td {
  padding: 30px 0;
}

.product {
  display: flex;
  align-items: center;
}
.product img {
  border-radius: 6px;
}
.product .info {
  margin-left: 20px;
}
.product .info .name {
  font-size: 20px;
  margin-bottom: 10px;
  color: #ebecf1;
}
.product .info .category {
  color: #ebecf1
}

.qty {
  background: #eee;
  display: inline-flex;
  padding: 0 0;
  justify-content: space-around;
  align-items: center;
  min-width: 60px;
  border-radius: 20px;
  overflow: hidden;
  height: 30px;
}
.qty span {
  margin: 0 10px;
  color: #05191d;
}
.qty button {
  display: flex;
  align-items: center;
  background: transparent;
  border: 0;
  padding: 0 10px;
  font-size: 20px;
  height: 100%;
}
.qty button:hover {
  background: #ddd;
}

.remove {
  background: #eee;
  border: 0;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.remove:hover {
  background: #05191d;
}

aside {
  margin-left: 30px;
}
aside .box {
  margin-bottom: 15px;
  border: 1px solid #ccc;
  background: #eee;
  color: #222;
}
aside .box header {
  padding: 15px 20px;
  font-size: 18px;
  border-bottom: 1px solid #ccc;
}
aside .box .info {
  padding: 20px;
  font-size: 16px;
}
aside .box .info > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #555;
}
aside .box .info > div:last-child {
  margin: 0;
}
aside .box .info button {
  color: #28a745;
  background: transparent;
  border: 0;
  display: flex;
  align-items: center;
  font-size: 16px;
}
aside .box footer {
  padding: 15px 20px;
  background: #ddd;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}
aside > button {
  border: 0;
  padding: 15px 0;
  color: white;
  background: #28a745;
  display: block;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
}
aside > button:hover {
  background: #3bc55b;
}/*# sourceMappingURL=carrinho.css.map */