@font-face{
    font-family: fonte_topnav;
    src: url("../fontes/barra_de_navegacao/Sansita-Regular.ttf");
}

@font-face {
    font-family: fonte_txths;
    src: url(../fontes/textoh/LEMONMILK-Bold.otf);
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.topbar{
    padding: 20px;
    display: flex;
    height: 32px;
    font-size: 17px;
    background-color: #082626;
    align-items: center;
    
}

.topbar img{
    height: 65px;
    align-items: center;
}

.Meio {
    width: 100vw;
    height: 100vh;
    background-image: url('../imagens/fundo_de_tela.jpg');
    position: relative;
    
}

.Meio .alinhamento{
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -60%);
    position: absolute;
    display: flex;
    
}

.Meio .choice01{
    background-color: #1e3b3b;
    border-radius: 20px;
    height: 350px;
    width: 500px;
    align-items: center;
    text-align: center;
    margin: 70px;
    
}

.Meio h3{
    font-family: fonte_txths;
    font-size: 20px;
    color: #fff;
}

.Meio .choice01 a{
    text-decoration: none;
    color: #fff;
    background-color: black;
    width: 100px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 30px;
    font-family:Arial, Helvetica, sans-serif;
    transition: 0.2s;
}

.Meio .choice01 a:hover{
    background-color: black;
    width: 112px;
    border-radius: 30px;

}

.Meio #img{
    margin-top: 10px;
    border: 2px solid #D9a443;
    border-radius: 20px;
    padding: 10px;
    width: 100px;
    height: 95px;
}

.Meio .usuario{
    position: fixed;
    top: 190px;
    left: -500px;
    transform: translate(100px);
    width: 250px;
    height: 220px;
    background-color: #38684f;
    margin-top: 45px;
    border-radius: 5px;
    transition: left 0.3s;
    text-align: center;
    border: 2px solid #fff;
}

.Meio .usuario h2{
    color: #fff;
    border-bottom: 1px solid #fff;
    padding: 4px;
    
}

.Meio .usuario a{
    padding-bottom: 10px;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
      
}

.usuario.atv_usuario{
    left: 0;

}

.Meio .fornecedor{
    position: fixed;
    top: 190px;
    right: -500px;
    transform: translate(-100px);
    width: 250px;
    height: 220px;
    background-color: #38684f;
    margin-top: 45px;
    border-radius: 5px;
    transition: right 0.3s;
    text-align: center;
    border: 2px solid #fff;
}

.Meio .fornecedor h2{
    color: #fff;
    border-bottom: 1px solid #fff;
    padding: 4px;
    
}

.Meio .fornecedor a{
    padding-bottom: 10px;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
      
}

.fornecedor.atv_fornecedor{
    right: 0;
}
