@font-face {
    font-family: fonte_txths;
    src: url(../fontes/textoh/LEMONMILK-Bold.otf);
}

body {
    width: 100vw;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #082126;
    margin: 0;
    
}

.layout {
    background-color: #082126;
}

.topbar2 {
    display: flex;
    padding: 20px;
    height: 32px;
    font-size: 17px;
    background-color: #082626;
    align-items: center; 

}

.topbar2 img {
    height: 65px;
    
}


.logo img {
    height: 40px;
}

select {
    padding: 10px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #395757;
    background-color: #395757;
    color: #D9a443;
    border-radius: 5px;
  }


nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

main {
    display: flex;
    padding: 20px;
}
.div {
    margin-bottom: 15px;
    margin-left: 45px;
}


.filter-menu {
    width: 20%;
    background-color: #548181;
    padding: 15px;
    border-radius: 10px;
    margin-right: 20px;
    color: #D9a443;
    width: 250px;
    height: 400px;
    transform: translate(0px,32px);
    
    
    
}

.filter-menu h3 {
    margin-bottom: 20px;
}

.filter-menu ul {
    list-style: none;
}

.filter-menu ul li {
    margin-bottom: 10px;
    cursor: pointer;
}

.products {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    overflow: scroll;
    height: 100vh;
}

.product-item {
    background-color: #1f4e4e;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: #D9a443
    
    
}

.product-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
   
}


.product-item p {
    margin-bottom: 10px;
    font-weight: bold;
}

.price {
    color: green;
    font-weight: bold;
}

.price-discount {
    text-decoration: line-through;
    color: #888;
}

.discount {
    color: red;
}

/* Rodapé */
.rodape {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 0.5rem 0;
    margin-top: 100px;

}