body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #082126;
    align-items: center;
    justify-content: center;
}

.layout{
    background-color: #082126;
}

.topbar{
    padding: 20px;
    display: flex;
    height: 32px;
    font-size: 17px;
    background-color: #082626;
    align-items: center;
}

.topbar img{
    height: 65px;
    align-items: center;
}

.Meio {
    width: 100vw;
    height: 100vh;
    background-image: url('../imagens/fundo_de_tela.jpg');
    position: relative;
    text-align: center;
    position: relative;
}

.Meio .mseta{
    text-decoration: none;
    font-size: 70px;
    display: flex;
    color: #D9a443;
    margin-left: 30px;

}

.Meio h1{
    color: #fff;
    display: flex;
    flex-direction: inline;
    font-size: 100px;
    flex-direction: initial;
}

table{
    background-color: #2e6252;
    border-radius: 5px;
    border: 4px solid #437365;
}

table td{
    color: #ebebeb;
    background-color: #2e625e;
}

table tr th{
    background-color: #437365;
}

.tabela {
    align-items: center;
    justify-content: center;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    position: absolute;
    font-size: 32px;
}

.tabela tr th{
    color: #fff;
    
}

.tabela a{
    text-decoration: none;
    color: #fff;
    background-color: #D9a443;
    width: 105px;
    padding: 2px;
    font-size: 25px;
    display: flex;
    margin: 0 auto;
    border-radius: 10px;
    font-family:Arial, Helvetica, sans-serif;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 2px;
}

