body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #082126;
    align-items: center;
    justify-content: center;
}

.layout{
    background-color: #082126;
}

.topbar{
    padding: 20px;
    display: flex;
    height: 32px;
    font-size: 17px;
    background-color: #082626;
    align-items: center;
}

.topbar img{
    height: 65px;
    align-items: center;
}

.Meio {
    width: 100vw;
    height: 100vh;
    background-color: #082126;
    position: relative;
    text-align: center;
    
}

.Meio h1{
    color: #fff;

}

table{
    border-radius: 10px;
}

.tabela{
    align-items: center;
    background-color: #fcae20;
    align-items: center;
    justify-content: center;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    position: absolute;
    font-size: 40px;
}

.tabela tr th{
    color: #fff;
    
}

.tabela a{
    text-decoration: none;
    color: #fff;
    background-color: #082626;
    width: 105px;
    padding: 2px;
    font-size: 30px;
    display: flex;
    margin: 0 auto;
    border-radius: 10px;
    font-family:Arial, Helvetica, sans-serif;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 2px;
}
