html, body 
{
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    
}

.layout
{
    background-color: #082126;
}

.topbar 
{
    background-color: #082626;
    height: 20px;
    padding: 15px;
    display: flex;
    align-items: center;

}

.lgnome 
{
    color: #D9a443;
    font-family: fonte_quartenaria;

}

.logo
{
    height: 60px;

}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #082126;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 110px;
    background-color: #082126;
    position: relative;
}

.formRegistrar {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #0c323a;
    border-radius: 7px;
    top: 5%;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 5px
}

.formRegistrar h1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
}

.formLogin p {
    display: inline-block;
    font-size: 14px;
    color: #ddae58;
    margin-bottom: 25px;
}

.formRegistrar input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
}


.formRegistrar input:focus {
    border: 2px solid #ddae58;
}

.formRegistrar label {
    font-size: 14px;
    font-weight: 600;
}

.formRegistrar a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #ddae58;
    transition: all linear 160ms;
}

.formRegistrar a:hover {
    color: #ddae58;
}

.btn {
    background-color:#ddae58;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;

}

.btn:hover {
    transform: scale(1.05);
    background-color: #ddae58;

}

.formRegistrar nav a{
   margin-right: 90px;
   transform: translate(43px,0px);
    
}

.page p{
    color: #fff;
}

