@font-face{
    font-family: fonte_topnav;
    src: url("../fontes/barra_de_navegacao/Sansita-Regular.ttf");
}

@font-face {
    font-family: fonte_txths;
    src: url(../fontes/textoh/LEMONMILK-Bold.otf);
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #082126;
    align-items: center;
    justify-content: center;
}

.layout{
    background-color: #082126;
}

.topbar{
    padding: 20px;
    display: flex;
    height: 32px;
    font-size: 17px;
    background-color: #082626;
    align-items: center;
    
}

.topbar .top1{
    display: flex;
    margin: 0 auto;
    
}

.topbar .top1 nav a{
    text-decoration: none;
    color: #D9a443;
    margin: 15px;
    font-family: fonte_topnav;
    position: relative;
}

.topbar .top2{
    display: flex;   
}

.topbar .top2 nav a{
    text-decoration: none;
    color: #D9a443;
    margin-right: 15px;
    font-family: fonte_topnav;
    position: relative;
}

.topbar img{
    width: 65px;
    height: 65px;
    align-items: center;
}

.topbar .toplogin{
    text-decoration: none;
    color: #D9a443;
    
    font-family: fonte_topnav;
}

.topbar nav a::after{
    content: "";
    width: 0%;
    height: 3px;
    background-color: #D9a443;
    position: absolute;
    bottom: -6px;
    left: 0;
    transition: 0.5s;
}

.topbar nav a:hover::after{
    width: 100%;
}

.Meio{
    background-color: #082126;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.mbanner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.mbanner img{
    width: 100%;
}

.Meio .mtxt{
    text-align: center;
    font-family: Arial;
    font-size: 13px;
    color: #fff;
    margin-top: 25px;
}

.Meio .mbtn{
    text-align: center;
    margin-top: 45px;
}

.mbtn a{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 15px;
    border-radius: 20px;
    font-family: Arial;
}
