@font-face{
    font-family: fonte_topnav;
    src: url("../fontes/barra_de_navegacao/Sansita-Regular.ttf");
}

@font-face {
    font-family: fonte_txths;
    src: url(../fontes/textoh/LEMONMILK-Bold.otf);
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #082126;
    align-items: center;
    justify-content: center;
}

.layout{
    background-color: #082126;
}

.topbar{
    padding: 20px;
    display: flex;
    height: 32px;
    font-size: 17px;
    background-color: #082626;
    align-items: center;
    
}

.topbar .top1{
    display: flex;
    margin: 0 auto;
    
}

.topbar .top1 nav a{
    text-decoration: none;
    color: #D9a443;
    margin: 15px;
    font-family: fonte_topnav;
    position: relative;
}

.topbar .top2{
    display: flex;  
    justify-content: center;
    align-items: center;
    text-align: center;
}

.topbar .top2 nav .opcoes {
    display: flex;
    text-decoration: none;
    color: #D9a443;
    margin-right: 15px;
    font-family: fonte_topnav;
    position: relative;
    cursor: pointer;
    font-size: 25px;
    transform: translate(0px, 15px);
}

.topbar .top2 .carteira {
    display: flex;
    transform: translate(-80px, -20px);
}


.topbar .top2 .carteira img {
    width: 33px;
    height: 33px;
    color: #D9a443;
    cursor: pointer;

}

.lopcoes {
    position: fixed;
    top: 10px;
    right: -450px;
    width: 250px;
    height: 335px;
    background-color: #082626;
    border-radius: 5px;
    color: white;
    transition: right 0.3s;
    z-index: 10px;
    border: 4px solid #D9a443;
    
}

.lopcoes .voltar{
    transform: translate(200px,-43px);
    font-size: 23px;
    color: #D9a443;
    cursor: pointer;
}

.lopcoes{
    transform: translate(-20px, 5px);
}


.lopcoes h4{
    transform: translate(30px,8px);
    width: 150px;
    font-size: 18px;
}

.lopcoes .op{
    transform: translate(25px, -30px);
    border: 2px solid #D9a443;
    border-radius: 4px;
    padding: 10px;
    width: 70%;
    text-align: center;
    cursor: pointer;
}


.lopcoes.ativado{
   right: 0;
}

.usuario{
    position: fixed;
    top: 100px;
    right: -270px;
    width: 250px;
    height: 120px;
    background-color: #155f4e;
    margin-top: 45px;
    border-radius: 5px;
    transition: right 0.3s;
    text-align: center;

}

.usuario a{
    padding-bottom: 10px;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
      
}

.usuario {
    transform: translate(-22px,90px);
}

.usuario.atv_usuario{
    right: 0;
 }

 .fornecedor{
    position: fixed;
    top: 150px;
    right: -270px;
    width: 250px;
    height: 120px;
    background-color: #38684f;
    margin-top: 45px;
    border-radius: 5px;
    transition: right 0.3s;
    text-align: center;
}

.fornecedor a{
    padding-bottom: 10px;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
      
}

.fornecedor.atv_fornecedor{
    right: 0;
 }

.fornecedor {
    transform: translate(-22px,40px);
}

.topbar img{
    width: 65px;
    height: 65px;
    align-items: center;
}

.topbar .top1 a::after{
    content: "";
    width: 0%;
    height: 3px;
    background-color: #D9a443;
    position: absolute;
    bottom: -6px;
    left: 0;
    transition: 0.5s;
}

.topbar .top1 a:hover::after{
    width: 100%;
}

.Meio{
    background-color: #082126;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.mbanner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.mbanner img{
    width: 100%;
}

.Meio .mtxt h3{
    text-align: center;
    font-family: Arial;
    font-size: 18px;
    color: #fff;
    margin-top: 25px;
}

.Meio .mbtn{
    text-align: center;
    margin-top: 45px;
}

.mbtn a{
    text-decoration: none;
    color: #fff;
    background-color: #5b8a72;
    padding: 15px;
    border-radius: 20px;
    font-family: Arial;
}

.mbtn a:hover{
    color: white;
    background-color: #38684f;
}

.Meio .mtxt2 h1{
    text-align: center;
    font-family: fonte_txths;
    font-size: 40px;
    color: #fff;
    margin-top: 25px;
}

.Meio .mtxt2 h3{
    text-align: center;
    font-family: Arial;
    font-size: 18px;
    color: #fff;
}

.Meio .mbtn2{
    text-align: center;
    margin-top: 30px;
}

.mbtn2 a{
    text-decoration: none;
    color: white;
    background-color: #5b8a72;
    padding: 15px;
    border-radius: 20px;
    font-family: Arial;
}

.mbtn2 a:hover{
    color: white;
    background-color: #38684f;
}


.slide{
    margin: auto;
    margin-top: 100px;
    overflow-x: hidden;
    width: 100vw;
    border-radius: 10px;
    scroll-behavior: smooth;
}

.slider{
    position: relative;
    margin-top: 100px;
}

.conteudo {
    display: flex;
    width: fit-content;
    
}

.conteudo img{
    width: 100vw;
    height: 500px;
    object-fit: cover;

}

.button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #5b8a72;
    color: #fff;
    position: absolute;
    top: 50%;
    cursor: pointer;

}

.button:first-of-type{
    left: 0;
    transform: translate(63%,-50%);
}

.button:last-of-type{
    right: 0;
    transform: translate(-50%,-50%);
}

.button:hover{
    background-color: #467c60;
}

.card-list{
    margin-top: 200px;
    display: flex;
}

.card-list .card-item{
    color: #fff;
    width: 500px;
    padding: 10px;
    border-radius: 20px;
    background-color: #c0bdbd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    margin: auto;
}

.card-list .card-item .img-camisa{
    width: 440px;
    height: 440px;
    border-radius: 20px;
    border: 3px solid fuchsia;
    padding: 4px;
}

.card-list .card-item h2{
    color: #fff;
    font-size: 30px;
    font-family: fonte_txths;
}

.card-list .card-item .botao{
    text-decoration: none;
    width: 60px;
    text-align: center;
    color: #fff;
    background-color: #5b8a72;
    padding: 12px;
    border-radius: 19px;
    transition: 0.1s;
    font-family: arial;
}

.card-list .card-item .botao:hover{
    width: 70px;
}

