@font-face {
    font-family: fonte_logo;
    src: url(/fontes/nike/Futura\ Std\ Heavy\ Oblique.ttf);
}

@font-face
{
    font-family: fonte_topnav;
    src: url("/fontes/Sansita/Sansita-Regular.ttf");
}

@font-face
{
    font-family: fonte_top2nav;
    src: url("/fontes/Sansita/Sansita-Italic.ttf");
}

@font-face {
    font-family: fonte_conteudoshs;
    src: url(/fontes/vogue/Vogue.ttf);
}

@font-face {
    font-family: fonte_txths;
    src: url(/fontes/lemon_milk/LEMONMILK-Bold.otf);
}

body {
    margin: 0;
    width: 100vw;
    height: 3000px;
    background-color: #082126;
}

.layout{
    background-color: #082126;
}

.topbar {
    background-color: #082126;
    height: 20px;
    padding: 9px;
    display: flex;
    align-items: center;
}

.topbar nav{
    margin-left: auto;
}

.topbar nav a{
    text-decoration: none;
    color: #D9a443;
    margin-right:15px;
    font-family: fonte_topnav;
}
.topbar2{
    padding: 20px;
    display: flex;
    height: 32px;
    font-size: 17px;
    background-color: #082626;
    align-items: center; 
}

.topbar2 img{
    height: 65px;
}

.topbar2 nav{
    margin: 0 auto;
}

.topbar2 nav a{
    text-decoration: none;
    color: #D9a443;
    margin-right: 50px;
    font-family: fonte_top2nav;
    position: relative;
}

.topbar2 nav a::after{
    content: "";
    width: 0%;
    height: 3px;
    background-color: #D9a443;
    position: absolute;
    bottom: -6px;
    left: 0;
    transition: 0.5s;
}

.topbar2 nav a:hover::after{
    width: 100%;
}

.Meio{
    background-color: #082126;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.mbanner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.mbanner img{
    width: 100%;
}

.Meio .mtxt{
    text-align: center;
    font-family: Arial;
    font-size: 13px;
    color: #fff;
    margin-top: 25px;
}

.Meio .mbtn{
    text-align: center;
    margin-top: 45px;
}

.mbtn a{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 15px;
    border-radius: 20px;
    font-family: Arial;
}

.slide {
    width: 100%;
    height: 600px;
    margin: 0 auto;
}

.slide-cont{
    margin-top: 65px;
    display: flex;
    width: 400%;
}

.slide-cont input{
    display: none;
}

.slide-box{
    width: 25%;
    align-items: center;
    height: auto;
    position: relative;
}

.slide-box img{
    width: 90%;
    height: 30%;
    object-fit: cover;
    margin: auto;
    display: block;
    border-radius: 10px;
}

.auto-nav , .manu-nav{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.manu-nav .manual-btn , .auto-nav div{
    border: 2px solid #ddae58;
    border-radius: 50%;
    margin-top: 42%;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.manu-nav .manual-btn:not(:last-child),.auto-nav div:not(:last-child){
    margin-right: 12px;
}

#radio1:checked ~ .auto-nav .auto-btn1 , #radio2:checked ~ .auto-nav .auto-btn2 , #radio3:checked ~ .auto-nav .auto-btn3{
    background-color: #ddae58;
}

.carrossel {
    margin: auto;
    height: 550px;
    width: 1250px;
    position: relative;
    margin-top: 60px;

}

.carrossel .img{
    width: 100%;
    height: 100%;
    position: absolute;
}

.carrossel .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    clip-path: circle(0% at 0% 100%);
    transition: all 3s;
}

#um:checked ~ .img-1 img{
    clip-path: circle(150% at 0% 100%);
}

#dois:checked ~ .img-2 img{
    clip-path: circle(150% at 0% 100%);
}

#tres:checked ~ .img-3 img{
    clip-path: circle(150% at 0% 100%);
}

#quatro:checked ~ .img-4 img{
    clip-path: circle(150% at 0% 100%);
}

.carrossel input{
    display: none;
}

.carrossel .lab-carrossel{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    display: flex;
}

.carrossel .lab-carrossel label{
    height: 13px;
    width: 13px;
    border: 2px solid red;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
}

#um:checked ~ .lab-carrossel label.um,
#dois:checked ~ .lab-carrossel label.dois,
#tres:checked ~ .lab-carrossel label.tres,
#quatro:checked ~ .lab-carrossel label.quatro{
    width: 45px;
    border-radius: 14px;
    background-color: red;
    transition: all 0.3s;
}

.carrossel label:hover{
    background-color: red;
    
}

.pacote{
    max-width: 1366px;
    position: relative;
    padding: 0px 35px;
    margin-top: 200px;
}

.pacote i{
    width: 45px;
    height: 45px;
    line-height: 45px;
    background: #fff;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-300%);
    
}

.pacote i:first-child{
    left: 3px;
    display: none;
}

.pacote i:last-child{
    right: 3px;
}

.pacote .slide{
    cursor: pointer;
    font-size: 0px;
    margin-top: 65px;
    white-space: nowrap;
    overflow: hidden;
    scroll-behavior: smooth;
}

.slide img{
    height: 340px;
    object-fit: cover;
    width: calc(100% / 3);
    margin-left: 15px;
}

.slide img:first-child{
    margin-left: 0px;
}